@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap");

body {
  background-color: #1c1c1c;
  font-family: oswald;
  /* width: 100%; */
}

.grayed {
  filter: grayscale(100%);
}

.grayedInverted {
  filter: grayscale(100%) invert(1);
}

.team:hover {
  cursor: pointer;
  filter: grayscale(0%);
}

.team:hover img {
  filter: grayscale(0%);
}


.team {
  background-color: #121212;
  height: 150px;
  margin: 2rem;
  width: 150px
}

.team img {
  display: block;
  height: 100px;
  padding: 1rem;
  margin: auto;
  max-width: 125px;
  /* opacity: 60%; */
}

.team-name {
  background-color: #d0d0d0;
  border-top: 5px solid #0066aa;
  color: #1c1c1c;
  font-size: 15px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  /* min-width: 150px */
}

#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto; 
  max-width: 85%;
}

#players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto; 
  max-width: 85%;
}

.hidden {
  display: none;
}